/* p {
  font-family: Lato;
}
#chart {
  max-width: 600px;
  margin: 30px auto;
}

.apexcharts-legend text {
  font-weight: bold;
} */

#chart {
  padding: 0;
  max-width: 450px;
  margin: 35px auto;
}
